﻿.cz-submain {
    overflow: auto;
}

html, .cz-submain-form-background {
    background: #F1F1F1;
}

.cz-submain-form-backini {
    background-color: #F1F1F1;
    background-image: url(../imagery/all/layout/backini.png);
}

#cz-form-box {
    width: 90%;
    margin: 0 auto;
}

.cz-form-box-content {
    min-height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #B6B6B6;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 4px;
}

.cz-form-box-content-hide {
    height: 0;
}

#cz-form-box-content-title {
    overflow: hidden;
    float: left;
    margin-top: 2px;
}

#cz-form-box-content-title-icon {
    float: left;
    width: 30px;
}

#cz-form-box-content-title-text {
    float: left;
    margin-left: 5px;
    margin-top: 9px;
    font-weight: bold;
}

    #cz-form-box-content-title-text p {
        color: #636363;
        font-size: 17px;
    }

.cz-form-box-content-button {
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    float: right;
    text-align: center;
    cursor: pointer;
}

    .cz-form-box-content-button img {
        width: 30px;
    }

.cz-form-box-content-subtitle p {
    color: white;
}

.cz-form-box-content-extend {
    position: absolute;
    left: 10px;
    right: 10px;
}

.cz-form-box-content {
    min-height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #B6B6B6;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 4px;
}

.cz-form-box-content-hide {
    height: 0;
}

#cz-form-box-content-title {
    overflow: hidden;
    float: left;
    margin-top: 2px;
}

#cz-form-box-content-title-icon {
    float: left;
    width: 30px;
}

#cz-form-box-content-title-text {
    float: left;
    margin-left: 5px;
    margin-top: 9px;
    font-weight: bold;
}

    #cz-form-box-content-title-text p {
        color: #636363;
        font-size: 17px;
    }

.cz-form-box-content-button {
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    float: right;
    text-align: center;
    cursor: pointer;
}

    .cz-form-box-content-button img {
        width: 30px;
    }

.cz-form-box-content-subtitle p {
    color: white;
}

.cz-form-box-content-extend {
    position: absolute;
    left: 10px;
    right: 10px;
}

.cz-form-box-content {
    background: white;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
    height: 195%;
}

.modal-header {
    padding: 1px 10px !important;
    border-bottom: 1px solid #C9C8C7;
    background-color: #E7E7E7;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

    .modal-header .close {
        margin-top: 2px;
        border: 1px solid #636363;
        border-radius: 35px;
        padding: 2px;
    }

    .modal-header h3 {
        margin: 0;
        line-height: 30px;
        color: #766A61;
        font-size: 15px;
    }

.modal-body {
    position: relative;
    max-height: 95%;
    padding: 10px;
    min-height: 30px;
    overflow: auto;
}

.modal-footer {
    padding: 5px 8px 5px;
    margin-bottom: 0;
    text-align: right;
    border-top: 1px dashed #C9C8C7;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
}

    .modal-footer:before, .modal-footer:after {
        display: table;
        line-height: 0;
        content: "";
    }


[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../../images/img/glyphicons-halflings.png");
    /*background-position: 14px 14px;*/
    background-repeat: no-repeat;
}

.cz-form-content-input-button {
    border: 0;
    padding: 8px 20px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.cz-form-content-input-button-image {
    padding: 10px 20px 10px 45px;
}

.cz-form-box-content-button {
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    float: right;
    text-align: center;
    cursor: pointer;
}

    .cz-form-box-content-button img {
        width: 30px;
    }

#content-notify .notify, #cz-barr-top, .cz-menu-lateral-title-icon, .cz-form-content-input-button, .cz-other-box-center-box-title, .cz-principal-menu-option-button.cz-ehover .cz-principal-menu-option-image, .cz-form-box-content-subtitle, .table th, .cz-form-subcontent-title, #btnIngresar, .cz-login-box-body, .cz-login-submain, #cz-error {
    background-color: #0154A0;
}

.paddingBotton5 {
    padding-bottom: 5px;
}

.font14-bold {
    font-size: 14px;
    font-weight: bold;
}

.subTitleIncidencia {
    background: #383838;
    margin-top: -10px;
    color: white;
    padding: 7px;
    margin-bottom: 7px;
}
/*Back top*/
#back-to-top {
    position: fixed;
    bottom: 29px;
    right: 17px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #383838;
    color: #FFF;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

    #back-to-top:hover {
        background: #FF6702;
    }

    #back-to-top.show {
        opacity: 1;
    }


/*loading*/
.loading {
    font-size: 20px;
    margin: 20% auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
}

@-webkit-keyframes load4 {
    0%, 100% {
        box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }

    12.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    25% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    37.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    50% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    62.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    75% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }

    87.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}

@keyframes load4 {
    0%, 100% {
        box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }

    12.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    25% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    37.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    50% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    62.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }

    75% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }

    87.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}
/*Notificaciones*/
#content-notify {
    position: fixed;
    right: 0px;
    width: 300px;
    bottom: 30px;
    z-index: 9999;
    overflow: hidden;
}

    #content-notify div {
        padding: 15px;
        border-radius: 4px;
        left: 300px;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
    }

    #content-notify .alert {
        color: #FFF;
    }

    #content-notify .notify {
        color: #FFF;
    }
/*Table*/ #cz-form-table {
    display: none;
}

#divGridViewData table {
    width: 100%;
}

/*INI TABLA*/
.form-grid-table-outer {
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    width: 100%;
}

.form-grid-table-inner {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-gridview-data {
    display: table;
    /* width: auto; */
    width: 100%;
    margin-top: 5px;
    padding: 0px;
}

/*INI LA TABLA DIRECTAMENTE*/
.table-bordered {
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

    .table-bordered img {
        width: 25px;
    }
    /*.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
-webkit-border-top-left-radius: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
}*/
    .table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
        border-top: 0;
    }

    .table-bordered th, .table-bordered td {
        border-left: 1px solid #FFFFFF;
    }

    .table-bordered td {
        text-transform: uppercase;
    }

.table th {
    text-align: center;
}

    .table th:last-child {
        border-top-right-radius: 7px;
    }

    .table th:first-child {
        border-top-left-radius: 7px;
    }

.table tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
}

.table th {
    /*background: -webkit-gradient(linear, left top, left bottom, from(#EE6030), to(#CC552D));*/
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    line-height: 15px;
    font-size: 17px;
    font-weight: 100;
}

.table td {
    border-top: 1px solid #dddddd;
    background-color: #E7E7E7;
    color: #777;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    line-height: 22px;
}

.table-striped tbody > tr:nth-child(odd) > td {
    background-color: #F3F3F3;
}

.table tr:hover td {
    background-color: #C5C5C5 !important;
}
/*END LA TABLA DIRECTAMENTE*/
/*INI PAGINADOR*/
.paginator-table {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #dddddd;
    background-color: #E7E7E7;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.paginator-table-outer {
    width: 100%;
    float: left;
}

.paginator-table-inner {
    margin: 0 auto;
    overflow: visible;
    display: table;
}

.paginator-data {
    display: table;
    padding: 0px;
    margin-top: 4px;
}

.form-gridview-search {
    text-align: center;
}

.cz-page-ant {
    height: 25px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    color: #858585;
}

.paginator-data .pagina-direccion, .paginator-data .pagina-data, .paginator-data .pagina-maxima {
    margin: 0px;
    padding: 0px;
    float: left;
    line-height: 24px;
    margin-left: 4px;
}

.pagina-siguiente, .pagina-anterior {
    cursor: pointer;
    color: white;
    background-color: #666666;
    border-radius: 12px;
    padding: 6px;
}

.cz-page-now {
    height: 25px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    color: #858585;
}

    .cz-page-now a {
        float: left;
        line-height: 20px;
        margin-right: 5px;
        margin-left: 5px;
    }

.paginator-data .pagina-actual {
    float: left;
    color: #A2A2A2;
}

    .paginator-data .pagina-actual input[type="text"] {
        width: 42px;
        text-align: center;
        margin: 0;
    }

.paginator-data .pagina-direccion, .paginator-data .pagina-data, .paginator-data .pagina-maxima {
    margin: 0px;
    padding: 0px;
    float: left;
    line-height: 24px;
    margin-left: 4px;
}

.cz-TotalPaginas {
    position: absolute;
    left: 100%;
    margin-left: -100%;
    background-repeat: no-repeat;
    padding: 7px;
}

.cz-table-expand, .cz-table-contract {
    width: 29px;
    height: 29px;
    position: relative;
    left: 100%;
    margin-left: -31px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cz-table-expand {
    background-image: url("../imagery/all/icons/expand.png");
}

.cz-table-contract {
    background-image: url("../imagery/all/icons/contract.png");
}

.cz-table-expand .cz-table-expand-close-x {
    display: none;
}

.cz-table-contract .cz-table-expand-close-x {
    position: fixed;
    top: 4px;
    right: 2px;
    z-index: 7;
    font-size: 20px;
    background: #F1F1F1;
    border: 1px solid #B4B4B4;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.8;
    border-radius: 5px;
}

.cz-table-expand-table {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    z-index: 6;
    margin: 0;
    background: #FAFAFA;
    border: 0;
    width: inherit !important;
    padding: 30px 10px 10px 10px;
}
.pagina-siguiente, .pagina-anterior {
    cursor: pointer;
    color: white;
    background-color: #666666;
    border-radius: 12px;
    padding: 6px;
}